<!-- start Statistics Section -->
<div class="statistics-section">
  <div class="container">
    <div class="statistics-container">
      <!-- start Statistics Section header -->
      <div class="section-header">
        <span class="badge badge--circle badge--primary badge-icon">
          <img src="./images/icons/homeIcon.svg" alt="" />
        </span>
        <h2 class="section-header__title">
          Work lazily and achieve the result you want.
        </h2>
        <p class="section-header__paragraph">
          Liquam id diam maecenas ultricies mi eget mauris pharetra et. Feugiat
          pretium nibh ipsum consequat nisl vel pretium lectus. Fermentum
          iaculis eu non diam.
        </p>
      </div>
      <!-- end Statistics Section header -->
      <div class="statistics-body">
        <!-- start statistics -->
        <div class="statistics divider">
          <h2 class="statistics-value">420%</h2>
          <h2 class="statistics-title">Data Efficiency</h2>
        </div>
        <!-- end statistics -->
        <!-- start statistics -->
        <div class="statistics divider">
          <h2 class="statistics-value">708+</h2>
          <h2 class="statistics-title">Conversion Rate</h2>
        </div>
        <!-- end statistics -->
        <!-- start statistics -->
        <div class="statistics">
          <h2 class="statistics-value">1.82M</h2>
          <h2 class="statistics-title">AI LLM Scale</h2>
        </div>
        <!-- end statistics -->
      </div>
    </div>
  </div>
</div>
<!-- end Statistics Section -->
