<!-- start ios and android app download button  -->
<div class="hero-button__group">
  <a href="/">
    <button class="app-btn">
      <img
        class="app-btn__logo"
        src="./images/logo/Apple_logo.png"
        alt="Apple_logo"
      />
      <span class="app-btn__text">
        <img src="./images/textImg/Download-on-the.png" alt="" />
        <img src="./images/textImg/App-Store.png" alt="" />
      </span>
    </button>
  </a>
  <a href="/">
    <button class="app-btn">
      <img
        class="app-btn__logo"
        src="./images/logo/Google-Play-logo.png"
        alt="Google Play logo"
      />
      <span class="app-btn__text">
        <img
          class="get-it-on__img"
          src="./images/textImg/Get-it-on.png"
          alt=""
        />
        <img src="./images/textImg/Google-Play.png" alt="" />
      </span>
    </button>
  </a>
  <!-- end ios and android app download button  -->
</div>
