<!-- start CTA Section  -->
<div class="cta-section">
  <div class="container">
    <div class="cta-section-container">
      <div class="cta-text-area">
        <div class="section-header">
          <h2 class="section-header__title">Let’s Download The App.</h2>
          <p class="section-header__paragraph">
            Velit scelerisque in dictum non consectetur. Felis eget velit
            aliquet sagittis. Ultricies integer quis auctor elit sed vulputate
            mi. Massa id neque aliquam vestibulum morbi blandit cursus.
          </p>
        </div>
        <div class="cta-btn-group">
          <span class="cta-btn-container">
            <button class="btn secondary stretch">Learn More</button>
          </span>
          <span class="cta-btn-container">
            <button class="btn accent stretch">Get Started</button>
          </span>
        </div>
      </div>
      <div class="cta-img-container">
        <img
          class="cta-img-1"
          src="./images/mobilePreview/demographicsMobilePreview4x.png"
          alt="Demographics Mobile Preview"
        />
        <img
          class="cta-img-2"
          src="./images/mobilePreview/balanceMobilePreview4x.png"
          alt="balance Mobile Preview"
        />
      </div>
    </div>
  </div>
</div>
<!-- end CTA Section  -->
