<!-- start Contact Section -->
<div class="contact-section">
  <div class="container">
    <div class="contact-section-container">
      <div class="section-header">
        <span class="badge badge--pill badge--primary">Visit Us Anytime</span>
        <h2 class="section-header__title">Our Office</h2>
        <p class="section-header__paragraph">
          You can visit our office anytime but please don’t stalk us or don’t be
          creepy.
        </p>
      </div>
      <div class="contact-section-body">
        <!-- start location card -->
        <div class="location-card">
          <div class="location__icon">
            <img class="icon" src="./images/icons/MapPin.svg" alt="" />
          </div>
          <h2 class="location__country">Japan</h2>
          <p class="location__address">221b Freedom Street</p>
          <p class="location__address">New York, NY 21231</p>
        </div>
        <!-- end location card -->
        <!-- start location card -->
        <div class="location-card">
          <div class="location__icon">
            <img class="icon" src="./images/icons/MapPin.svg" alt="" />
          </div>
          <h2 class="location__country">Japan</h2>
          <p class="location__address">221b Freedom Street</p>
          <p class="location__address">New York, NY 21231</p>
        </div>
        <!-- end location card -->
        <!-- start location card -->
        <div class="location-card">
          <div class="location__icon">
            <img class="icon" src="./images/icons/MapPin.svg" alt="" />
          </div>
          <h2 class="location__country">Japan</h2>
          <p class="location__address">221b Freedom Street</p>
          <p class="location__address">New York, NY 21231</p>
        </div>
        <!-- end location card -->
        <!-- start location card -->
        <div class="location-card">
          <div class="location__icon">
            <img class="icon" src="./images/icons/MapPin.svg" alt="" />
          </div>
          <h2 class="location__country">Japan</h2>
          <p class="location__address">221b Freedom Street</p>
          <p class="location__address">New York, NY 21231</p>
        </div>
        <!-- end location card -->
      </div>
    </div>
  </div>
</div>
<!-- end Contact Section -->
