<!-- start FAQ Section -->
<div class="container" id="faq">
  <div class="faq-container">
    <div class="section-header center">
      <span class="badge badge--pill badge--primary">FAQ</span>
      <h2 class="section-header__title">Frequently Asked Questions</h2>
      <p class="section-header__paragraph">
        Fermentum iaculis eu non diam phasellus vestibulum. Volutpat commodo sed
        egestas egestas fringilla phasellus. Donec ac odio tempor orci dapibus
        ultrices.
      </p>
    </div>
    <div class="faq-body">
      <!-- start faq question and answer -->
      <div class="collapsible">
        <div class="question-container">
          <div class="question-group">
            <div class="question-icon">
              <img class="icon" src="./images/icons/quistion.svg" alt="" />
            </div>
            <h2 class="question">
              Enim sed faucibus turpis in eu mi bibendum neque egestas?
            </h2>
          </div>
          <div class="chivron">
            <img src="./images/icons/chivron.svg" alt="" class="icon" />
          </div>
        </div>

        <div class="collapsible__group">
          <p class="answer">
            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus
            vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam
            quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id
            cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus
            in hac.
          </p>
        </div>
      </div>
      <!-- end faq question and answer -->
      <!-- start faq question and answer -->
      <div class="collapsible">
        <div class="question-container">
          <div class="question-group">
            <div class="question-icon">
              <img class="icon" src="./images/icons/quistion.svg" alt="" />
            </div>
            <h2 class="question">
              Amet consectetur adipiscing elit pellentesque habitant morbi
              tristique?
            </h2>
          </div>
          <div class="chivron">
            <img src="./images/icons/chivron.svg" alt="" class="icon" />
          </div>
        </div>

        <div class="collapsible__group">
          <p class="answer">
            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus
            vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam
            quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id
            cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus
            in hac.
          </p>
        </div>
      </div>
      <!-- end faq question and answer -->
      <!-- start faq question and answer -->
      <div class="collapsible">
        <div class="question-container">
          <div class="question-group">
            <div class="question-icon">
              <img class="icon" src="./images/icons/quistion.svg" alt="" />
            </div>
            <h2 class="question">
              Elit pellentesque habitant morbi tristique senectus?
            </h2>
          </div>
          <div class="chivron">
            <img src="./images/icons/chivron.svg" alt="" class="icon" />
          </div>
        </div>

        <div class="collapsible__group">
          <p class="answer">
            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus
            vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam
            quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id
            cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus
            in hac.
          </p>
        </div>
      </div>
      <!-- end faq question and answer -->
      <!-- start faq question and answer -->
      <div class="collapsible">
        <div class="question-container">
          <div class="question-group">
            <div class="question-icon">
              <img class="icon" src="./images/icons/quistion.svg" alt="" />
            </div>
            <h2 class="question">
              Gravida quis blandit turpis cursus in hac. Mi ipsum faucibus vitae
              aliquet nec?
            </h2>
          </div>
          <div class="chivron">
            <img src="./images/icons/chivron.svg" alt="" class="icon" />
          </div>
        </div>

        <div class="collapsible__group">
          <p class="answer">
            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus
            vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam
            quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id
            cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus
            in hac.
          </p>
        </div>
      </div>
      <!-- end faq question and answer -->
      <!-- start faq question and answer -->
      <div class="collapsible">
        <div class="question-container">
          <div class="question-group">
            <div class="question-icon">
              <img class="icon" src="./images/icons/quistion.svg" alt="" />
            </div>
            <h2 class="question">
              Est pellentesque elit ullamcorper dignissim cras. In pellentesque
              massa placerat?
            </h2>
          </div>
          <div class="chivron">
            <img src="./images/icons/chivron.svg" alt="" class="icon" />
          </div>
        </div>

        <div class="collapsible__group">
          <p class="answer">
            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus
            vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam
            quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id
            cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus
            in hac.
          </p>
        </div>
      </div>
      <!-- end faq question and answer -->
    </div>
  </div>
</div>
<!-- end FAQ Section -->
