<!-- start feature section -->
<div class="feature-section" id="feature">
  <div class="container">
    <div class="feature-container">
      <div class="section-header">
        <div class="badge">
          <p class="badge__text">Our Main Features</p>
        </div>
        <h2 class="section-header__title">Our Primary Features</h2>
        <p class="section-header__paragraph">
          Volutpat commodo sed egestas egestas fringilla phasellus. Tincidunt
          eget nullam non nisi. Nisi porta lorem mollis aliquam ut porttitor
          leo.
        </p>
      </div>
      <div class="feature-body">
        <!-- start feature -->
        <div class="feature">
          <div class="feature__icon">
            <img
              src="./images/icons/lazyEfficient.svg"
              alt="lazyEfficient icon"
            />
          </div>
          <div class="feature__text">
            <h2 class="feture__text-heading">Lazy Efficient</h2>
            <p class="feture__text-paragraph">
              A cras semper auctor neque. Proin libero nunc consequat interdum
              varius sit. Libero volutpat sed cras ornare arcu dui vivamus arcu
              felis.
            </p>
          </div>
        </div>
        <!-- end feature -->

        <!-- start feature -->
        <div class="feature">
          <div class="feature__icon">
            <img
              src="./images/icons/streamlinedProcess.svg"
              alt="streamlined Process icon"
            />
          </div>
          <div class="feature__text">
            <h2 class="feture__text-heading">Streamlined Process</h2>
            <p class="feture__text-paragraph">
              Montes nascetur ridiculus mus mauris vitae ultricies leo integer
              malesuada. Orci porta non pulvinar neque laoreet.
            </p>
          </div>
        </div>
        <!-- end feature -->

        <!-- start feature -->
        <div class="feature">
          <div class="feature__icon">
            <img
              src="./images/icons/minimumEffort.svg"
              alt="Minimum Effort icon"
            />
          </div>
          <div class="feature__text">
            <h2 class="feture__text-heading">Minimum Effort</h2>
            <p class="feture__text-paragraph">
              Tincidunt eget nullam non nisi est sit amet facilisis magna.
              Rhoncus dolor purus non enim praesent elementum.
            </p>
          </div>
        </div>
        <!-- end feature -->

        <!-- start feature -->
        <div class="feature">
          <div class="feature__icon">
            <img
              src="./images/icons/absolutelyEasyToUse.svg"
              alt="Absolutely Easy To Use icon"
            />
          </div>
          <div class="feature__text">
            <h2 class="feture__text-heading">Absolutely Easy To Use</h2>
            <p class="feture__text-paragraph">
              Tincidunt eget nullam non nisi est sit amet facilisis magna.
              Rhoncus dolor purus non enim praesent elementum.
            </p>
          </div>
        </div>
        <!-- end feature -->

        <!-- start feature -->
        <div class="feature">
          <div class="feature__icon">
            <img
              src="./images/icons/justSleep&Chill.svg"
              alt="Just Sleep & Chill icon"
            />
          </div>
          <div class="feature__text">
            <h2 class="feture__text-heading">Just Sleep & Chill</h2>
            <p class="feture__text-paragraph">
              Bibendum est ultricies integer quis auctor elit. Ultrices in
              iaculis nunc sed. A scelerisque purus semper eget. Facilisi morbi
              tempus iaculi.
            </p>
          </div>
        </div>
        <!-- end feature -->

        <!-- start feature -->
        <div class="feature">
          <div class="feature__icon">
            <img
              src="./images/icons/Don’tWorryAbout Life.svg"
              alt="Don’t Worry About Life icon"
            />
          </div>
          <div class="feature__text">
            <h2 class="feture__text-heading">Don’t Worry About Life</h2>
            <p class="feture__text-paragraph">
              Pharetra diam sit amet nisl suscipit adipiscing bibendum est.
              Risus ultricies tristique nulla aliquet enim tortor.
            </p>
          </div>
        </div>
        <!-- end feature -->
      </div>
    </div>
  </div>
</div>
<!-- end feature section -->
