<!-- start footer section -->
<div class="container">
  <div class="footer-container">
    <div class="footer-link-container">
      <!-- start link card -->
      <div class="footer-link-card">
        <h2 class="footer-link-heading">Site Map</h2>
        <div class="footer-link-group">
          <a href="#" class="footer-link"> Homepage </a>
          <a href="#" class="footer-link"> Product </a>
          <a href="#" class="footer-link"> Services </a>
          <a href="#" class="footer-link"> Technology </a>
          <a href="#" class="footer-link"> About Us </a>
          <a href="#" class="footer-link"> Contact Us </a>
        </div>
      </div>
      <!-- end link card -->
      <!-- start link card -->
      <div class="footer-link-card">
        <h2 class="footer-link-heading">Services</h2>
        <div class="footer-link-group">
          <a href="#" class="footer-link"> Service Lineup 1 </a>
          <a href="#" class="footer-link"> Service Lineup 2 </a>
          <a href="#" class="footer-link"> Service Lineup 3 </a>
          <a href="#" class="footer-link"> Service Lineup 4 </a>
          <a href="#" class="footer-link"> Service Lineup 5 </a>
          <a href="#" class="footer-link"> Service Lineup 6 </a>
        </div>
      </div>
      <!-- end link card -->
      <!-- start link card -->
      <div class="footer-link-card">
        <h2 class="footer-link-heading">Product</h2>
        <div class="footer-link-group">
          <a href="#" class="footer-link"> Product Lineup 1 </a>
          <a href="#" class="footer-link"> Product Lineup 2 </a>
          <a href="#" class="footer-link"> Product Lineup 3 </a>
          <a href="#" class="footer-link"> Product Lineup 4 </a>
          <a href="#" class="footer-link"> Product Lineup 5 </a>
          <a href="#" class="footer-link"> Product Lineup 6 </a>
        </div>
      </div>
      <!-- end link card -->
      <!-- start link card -->
      <div class="footer-link-card">
        <h2 class="footer-link-heading">Help & Support</h2>
        <div class="footer-link-group">
          <a href="#" class="footer-link"> Live Chat </a>
          <a href="#" class="footer-link"> Email Support </a>
          <a href="#" class="footer-link"> Product Refund </a>
          <a href="#" class="footer-link"> Submit Feedback </a>
          <a href="#" class="footer-link"> Help Ticket </a>
          <a href="#" class="footer-link"> Call Center </a>
        </div>
      </div>
      <!-- end link card -->
      <!-- start link card -->
      <div class="footer-link-card">
        <h2 class="footer-link-heading">Legal</h2>
        <div class="footer-link-group">
          <a href="#" class="footer-link"> Privacy Policy </a>
          <a href="#" class="footer-link"> HIPAA Notice </a>
          <a href="#" class="footer-link"> Data Policy </a>
          <a href="#" class="footer-link"> AI Privacy </a>
          <a href="#" class="footer-link"> Terms & Conditions </a>
          <a href="#" class="footer-link"> Lawyer’s Corner </a>
        </div>
      </div>
      <!-- end link card -->
      <!-- start link card -->
      <div class="footer-link-card">
        <h2 class="footer-link-heading">Pricing</h2>
        <div class="footer-link-group">
          <a href="#" class="footer-link"> Pricing Tier 1 </a>
          <a href="#" class="footer-link"> Pricing Tier 2 </a>
          <a href="#" class="footer-link"> Pricing Tier 3 </a>
          <a href="#" class="footer-link"> Pricing Tier 4 </a>
          <a href="#" class="footer-link"> Pricing Tier 5 </a>
          <a href="#" class="footer-link"> Pricing Tier 6 </a>
        </div>
      </div>
      <!-- end link card -->
    </div>
    <div class="footer-brand-container">
      <div class="footer-brand-logo-container">
        <div class="brand-logo">
          <img src="./images/logo/Logo.png" alt="" />
        </div>
      </div>
      <div class="copyright-container">
        <p class="copyright">Copyright 2028 slothUI, All Rights Reserved.</p>
      </div>
      <div class="go-to-top-contaier">
        <div class="go-to-top-btn badge--circle">
          <a href="#">
            <img class="icon" src="./images/icons/chivron.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer section -->
