<!-- start hero -->

<div class="hero">
  <!-- start hero content -->
  <div class="hero__content container">
    <div class="badge">
      <p class="badge__text">Design System For Gen Z</p>
    </div>
    <h1 class="hero__heading">Unleash Your Inner Design Sloth Today.</h1>
    <p class="hero__paragraph">
      Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Cras
      fermentum odio eu feugiat pretium nibh ipsum. Venenatis cras sed felis
      eget velit aliquet.
    </p>

    <!-- start ios and android app download button  -->
    <div class="hero-button__group">
      <a href="/">
        <button class="app-btn">
          <img
            class="app-btn__logo"
            src="./images/logo/Apple_logo.png"
            alt="Apple_logo"
          />
          <span class="app-btn__text">
            <img src="./images/textImg/Download-on-the.png" alt="" />
            <img src="./images/textImg/App-Store.png" alt="" />
          </span>
        </button>
      </a>
      <a href="/">
        <button class="app-btn">
          <img
            class="app-btn__logo"
            src="./images/logo/Google-Play-logo.png"
            alt="Google Play logo"
          />
          <span class="app-btn__text">
            <img
              class="get-it-on__img"
              src="./images/textImg/Get-it-on.png"
              alt=""
            />
            <img src="./images/textImg/Google-Play.png" alt="" />
          </span>
        </button>
      </a>
      <!-- end ios and android app download button  -->
    </div>
  </div>
  <!-- end hero content -->

  <!-- start hero image -->
  <div class="hero__image container">
    <img
      class="hero-image__2-min"
      src="./images/desktopPreview/2-min.jpg"
      alt="Desktop Preview"
    />
    <img
      class="hero-image__2-1-min"
      src="./images/mobilePreview/2-1-min.png"
      alt="Mobile Preview"
    />
  </div>
  <!-- end hero image -->
</div>
<!-- end hero -->
