<div class="nav-container fixed">
  <div class="nav">
    <div class="nav__brand">
      <a href="/">
        <img src="./images/logo/Logo.png" alt="Slothui Logo" />
      </a>
    </div>
    <div class="collapsible">
      <div class="collapsible__toggler">
        <img src="./images/toggler.svg" alt="Toggler Icon" />
      </div>
      <div class="collapsible__group">
        <!-- Do not remove this div. this div is used for nav_list center alignment using flex -->
        <div class=""></div>
        <ul class="nav__list">
          <li class="nav__list-item"><a href="">Features</a></li>
          <li class="nav__list-item"><a href="">Achievements</a></li>
          <li class="nav__list-item"><a href="">Testimonials</a></li>
          <li class="nav__list-item"><a href="">FAQ</a></li>
        </ul>
        <div class="btn-group">
          <button class="btn primary">Sign Up</button>
          <button class="btn accent">Log In</button>
        </div>
      </div>
    </div>
  </div>
</div>
