<!-- start Social Proof Section -->
<div class="Social-Proof">
  <div class="container">
    <div class="social-proof-container">
      <div class="social-proof-logo">
        <img src="./images/socialProof/deltaLogo.svg" alt="deltaLogo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/boeing.svg" alt="boeing Logo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/spacex.svg" alt="spacex Logo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/ibm.svg" alt="ibm Logo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/walmart.svg" alt="walmart Logo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/uber.svg" alt="uber Logo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/google.svg" alt="google Logo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/samsung.svg" alt="samsung Logo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/pepsi.svg" alt="pepsi Logo" />
      </div>
      <div class="social-proof-logo">
        <img src="./images/socialProof/adidas.svg" alt="adidas Logo" />
      </div>
    </div>
  </div>
</div>
<!-- end Social Proof Section -->
