<!-- start Testimonials section-->
<div class="testimonials-section" id="testimonials">
  <div class="container">
    <div class="testimonials-container">
      <div class="section-header">
        <span class="badge badge--pill badge--primary">Testimonials</span>
        <h2 class="section-header__title">What People Say</h2>
        <p class="section-header__paragraph">
          You can visit our office anytime but please don’t stalk us or don’t be
          creepy.
        </p>
      </div>
      <div class="testimonials-body">
        <!--start testimonials -->
        <div class="testimonials">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating5.png" alt="" />
          </div>
          <div class="testimonials__text">
            Lorem ipsum dolor sit amet, consectetur ad-zzz-ing elit. Proin vel
            urna at metus tempor mattis, or not, whatever.
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img
                src="./images/peoples/X_AE_A-13.png"
                alt="testimonials__profile X_AE_A-13"
              />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">X_AE_A-13</h2>
              <p class="testimonials-profile__title">
                Product Designer, slothUI
              </p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
        <!--start testimonials -->
        <div class="testimonials">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating5.png" alt="" />
          </div>
          <div class="testimonials__text">
            Nisi porta lorem mollis aliquam ut porttitor leo. Sed odio morbi
            quis commodo. Arcu non odio euismod lacinia at quis. Nec sagittis
            aliquam malesuada bibendum arcu vitae elementum curabitur vitae.
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img src="./images/peoples/OarackBabama.png" alt="" />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">Oarack Babama</h2>
              <p class="testimonials-profile__title">Former President of US</p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
        <!--start testimonials -->
        <div class="testimonials">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating2.5.png" alt="" />
          </div>
          <div class="testimonials__text">
            Sagittis eu volutpat odio facilisis mauris sit amet massa. Urna et
            pharetra pharetra massa.
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img
                src="./images/peoples/BoeJiden.png"
                alt="testimonials__profile BoeJiden"
              />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">Boe Jiden</h2>
              <p class="testimonials-profile__title">
                Former President Of Canada
              </p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
        <!--start testimonials -->
        <div class="testimonials">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating3.5.png" alt="" />
          </div>
          <div class="testimonials__text">
            Posuere urna nec tincidunt praesent semper feugiat nibh sed. Velit
            dignissim sodales ut eu.
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img
                src="./images/peoples/AzunyanU.Wu.png"
                alt="testimonials__profile BoeJiden"
              />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">Azunyan U. Wu</h2>
              <p class="testimonials-profile__title">CEO, nextlife.ai</p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
        <!--start testimonials -->
        <div class="testimonials load">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating4.5.png" alt="" />
          </div>
          <div class="testimonials__text">
            Accumsan tortor posuere ac ut consequat. Quis varius quam quisque id
            diam vel. Commodo odio aenean sed adipiscing diam donec adipiscing.
            Vel pharetra vel turpis nunc eget.
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img
                src="./images/peoples/SaylorTwift.png"
                alt="testimonials__profile Saylor Twift"
              />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">Saylor Twift</h2>
              <p class="testimonials-profile__title">Famous Singer</p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
        <!--start testimonials -->
        <div class="testimonials load">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating5.png" alt="" />
          </div>
          <div class="testimonials__text">
             Cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl.
            Nec nam aliquam sem et tortor consequat id porta nibh. Viverra
            suspendisse. Lacus sed viverra tellus in hac habitasse platea
            dictumst. Elit at imperdiet dui accumsan.
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img
                src="./images/peoples/VermillionD.Gray.png"
                alt="testimonials__profile Saylor Twift"
              />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">Vermillion D. Gray</h2>
              <p class="testimonials-profile__title">CEO, hacklife.ai</p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
        <!--start testimonials -->
        <div class="testimonials load">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating4.png" alt="" />
          </div>
          <div class="testimonials__text">
            Sit amet est placerat in. Blandit cursus risus at ultrices mi tempus
            imperdiet. Volutpat commodo sed egestas egestas fringilla phasellus.
            Tincidunt eget nullam non nisi. 
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img
                src="./images/peoples/MechatronicsYi.png"
                alt="testimonials__profile Mechatronics Yi"
              />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">Mechatronics Yi</h2>
              <p class="testimonials-profile__title">CTO, fin4win.ai</p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
        <!--start testimonials -->
        <div class="testimonials load">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating3.5.png" alt="" />
          </div>
          <div class="testimonials__text">
            Venenatis cras sed felis eget velit aliquet. Velit scelerisque in
            dictum non consectetur. Felis eget velit aliquet sagittis. Ultricies
            integer quis auctor elit sed vulputate mi. 
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img
                src="./images/peoples/AsunaYuuki.png"
                alt="testimonials__profile Asuna Yuuki"
              />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">Asuna Yuuki</h2>
              <p class="testimonials-profile__title">Virtual Swordsman</p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
        <!--start testimonials -->
        <div class="testimonials load">
          <div class="testimonials__ratings">
            <img src="./images/icons/Rating4.png" alt="" />
          </div>
          <div class="testimonials__text">
            Viverra accumsan in nisl nisi scelerisque eu. Vitae congue eu
            consequat ac felis donec.
          </div>
          <div class="testimonials__profile">
            <div class="testimonials-profile__pic">
              <img
                src="./images/peoples/Zuckman Wu.png"
                alt="testimonials__profile Zuckman Wu"
              />
            </div>
            <div class="testimonials-profile__id">
              <h2 class="testimonials-profile__name">Zuckman Wu</h2>
              <p class="testimonials-profile__title">CEO, tech4life.ai</p>
            </div>
          </div>
        </div>
        <!--End testimonials -->
      </div>
    </div>
  </div>
</div>
