<!-- start who is it for section -->
<div class="who-is-it-for-section">
  <div class="container">
    <div class="section-header">
      <p class="badge badge--pill badge--primary">Who is it for?</p>
      <h2 class="section-header__title">What the procrastinators say</h2>
      <p class="section-header__paragraph">
        Mi ipsum faucibus vitae aliquet nec. At tempor commodo ullamcorper a
        lacus. Bibendum at varius vel pharetra vel.
      </p>
    </div>
    <div class="who-is-it-for-container">
      <!-- start who-is-it-for__text-container -->
      <div class="who-is-it-for__text-container">
        <!-- start who-is-it-for__text -->
        <div class="who-is-it-for__text border border-active">
          <h2 class="who-is-it-for_heading">
            Convallis tellus id interdum velit
          </h2>
          <p class="who-is-it-for_paragraph">
            Donec massa sapien faucibus et molestie ac feugiat sed. Congue
            mauris rhoncus aenean vel elit scelerisque.
          </p>
        </div>
        <!-- end who-is-it-for__text -->
        <!-- start who-is-it-for__text -->
        <div class="who-is-it-for__text border">
          <h2 class="who-is-it-for_heading">
            Id interdum velit laoreet id donec ultrices
          </h2>
          <p class="who-is-it-for_paragraph">
            Donec massa sapien faucibus et molestie ac feugiat sed. Congue
            mauris rhoncus aenean vel elit scelerisque.
          </p>
        </div>
        <!-- end who-is-it-for__text -->
        <!-- start who-is-it-for__text -->
        <div class="who-is-it-for__text border">
          <h2 class="who-is-it-for_heading">
            Sapien et ligula ullamcorper malesuada
          </h2>
          <p class="who-is-it-for_paragraph">
            Donec massa sapien faucibus et molestie ac feugiat sed. Congue
            mauris rhoncus aenean vel elit scelerisque.
          </p>
        </div>
        <!-- end who-is-it-for__text -->
      </div>
      <!-- end who-is-it-for__text-container -->
      <!-- start who-is-it-for__image-container -->
      <div class="who-is-it-for__image-container">
        <img
          class="who-is-it-for-img"
          src="./images/mobilePreview/who-is-it-for-1.png"
          alt="who is it for img"
        />
        <img
          class="who-is-it-for-img"
          src="./images/mobilePreview/who-is-it-for-2.png"
          alt="who is it for img"
        />
      </div>
      <!-- end who-is-it-for__image-container -->
    </div>
  </div>
</div>
<!-- end who is it for section -->
